body {
	background-image: url(../images/bg_html.jpg);
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
.wrap {
	width: 900px;
	height: 1000px;
	margin: 0 auto;
}
.decoration {
	height: 5px;
}
.decoration1 {
	width: 4%;
	height: 5px;
	background: #F00078;
	float: left;
}
.decoration2 {
	width: 4%;
	height: 5px;
	background: #75EB00;
	float: left;
}
.decoration3 {
	width: 4%;
	height: 5px;
	background: #00B8E6;
	float: left;
}
.decoration4 {
	width: 88%;
	height: 5px;
	background: #3B3B3B;
	float: left;
}
.header {
	width: 900px;
	height: 100px;
	position: relative;
}
.dot ul li {
	display: inline;
}
.dot {
	position: absolute;
	right: 0px;
}
.logo a {
	display: block;
	text-indent: -119988px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	height: 81px;
	width: 171px;
	float: left;
}
.main-nav {
	float: right;
	font-weight: 600;
	font-size: 16px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.main-nav ul li a {
	color: #000;
	text-decoration: none;
}
.main-nav a:hover {
	color: #00B8E6;
}
.main-nav ul li{
	display: inline;
	padding: 10px 0 10px 50px;
}
ul {
	list-style: none;
}
.clear {
	clear: both;
}
.content {
	padding-top: 20px;
}
.banner {
	width: 620px;
	float: left;
}
.info {
	padding: 0 40px 0 40px;
	float: left;
	width: 200px;
	height: 415px;
	background: #272727;
	position: relative;
}
.info h2 {
	font-size: 45px;
	font-weight: 400;
	line-height: 42px;
	color: #00B8E6;
}
.info p {
	color: #d0d0d0;
	line-height: 30px;
	font-size: 18px;
	font-weight: 300;
}
.info a {
	text-decoration: none;
	display: block;
	width: 140px;
	height: 40px;
	background: #3C3C3C;
	color: #fff;
	text-align: center;
	line-height: 40px;
	position: absolute;
  	bottom: 40px;
  	left: 40px
}
.info a:hover {
	font-size: 18px;
	font-weight: 400;
	background: #00B8E6;
	color: #d0d0d0;
}
.intro {
	background: #ffffff;
}
.intro p {
	padding: 30px 40px 30px 40px;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
.intro p a {
	color: #00B8E6;
	text-decoration: none;
}
/*-----------------------------------*/
.events {
	background: #ffffff;
	height: 460px;
}
.latest {
	width: 550px;
	height: 400px;
	padding: 30px 0 30px 40px;
	float: left;
}
.subtitle h3 {
	margin: 0;
	font-size: 28px;
	font-weight: 400;
}
.subtitle strong {
	font-weight: normal;
	color: #00B8E6;
}
.box {
	float: left;
	height: 182px;
}
.pic {
	float: left;
	margin-top: 21px;
}
.box-info {
	width: 345px;
	float: left;
	padding-left: 20px;
	line-height: 30px;
}
.box-inf {
	font-weight: 400;
}
.service {
	width: 230px;
	height: 400px;
	padding: 30px 40px 30px 40px;
	float: left;
}
.list {
	height: 182px;
}
.list img {
	margin-right: 5px;
}
.list ul {
	padding-left: 0px;
	margin
}
.list ul li a{
	text-decoration: none;
	color: #000;
	line-height: 30px;
}
.bar {
	display: block;
	width: 180px;
	height: 40px;
	padding-left: 20px;
	font-size: 16px;
	font-weight: 300;
	margin-top: 16px;
	border-width: 0;
}
.search {
	padding: 12.5px 30px 12.5px 30px;
	border-width: 0;
	background: #F0F0F0;
	font-weight: bold;
	color: #00B8E6;
}
input[type="submit"]:hover {
	background: #00B8E6;
	color: #F0F0F0;
}
/*-----------------------------------*/
.footer p {
	padding: 30px 40px 30px 40px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin: 0;
}
.footer p a {
	color: #00B8E6;
	text-decoration: none;
}